/* You can add global styles to this file, and also import other style files */
.table tbody tr td{
  font-weight: bold;
}
.landing-page{
  background: white url("./assets/images/route.jpg") no-repeat scroll center;
  height: 100vh;
}
.wrapper{
  background-color: rgba(0,0,0,0.5);
  height: 100%;
}
.img-fluid{
  margin-top: -80px;
}
