<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3">Welcome to Employees Module</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis consequatur corporis cumque deserunt distinctio eos eum fuga modi neque placeat, porro, quis ratione repellat ullam. Aperiam asperiores cum dicta doloribus ducimus impedit libero magni necessitatibus nemo, nobis nostrum pariatur quasi sapiente! Aspernatur incidunt ipsa natus odit optio similique voluptate?</p>
      <a routerLink="/" class="btn btn-dark btn-sm">Home</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item">
          <p class="h4">
            <a routerLink="/employees/employee-list">Employee List</a>
          </p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequuntur dolor ducimus, est ex fugit nesciunt perferendis provident sint vel veritatis vitae voluptas. Adipisci, hic magni. Explicabo obcaecati, tempore!</p>
        </li>
        <li class="list-group-item">
          <p class="h4">
            <a routerLink="/employees/employee-details">Employee Details</a>
          </p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem consequuntur dolor ducimus, est ex fugit nesciunt perferendis provident sint vel veritatis vitae voluptas. Adipisci, hic magni. Explicabo obcaecati, tempore!</p>
        </li>
      </ul>
    </div>
  </div>
</div>
