<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 text-danger">Welcome to Angular Authentication</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda distinctio facere itaque labore libero, maxime porro suscipit voluptate. Architecto asperiores aut delectus, doloribus eius est et facilis fugiat hic impedit laudantium modi natus nihil non porro praesentium unde vitae. Dolorum?</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid autem cum doloremque ea eaque expedita explicabo facilis ipsam itaque, laborum laudantium molestiae natus necessitatibus nesciunt, non optio repellendus reprehenderit sit velit veritatis voluptate, voluptatibus? Cumque deserunt eligendi error fugit laudantium repellat vel. Architecto cupiditate enim in soluta temporibus.</p>
      <a routerLink="/events/free" class="btn btn-danger btn-sm">Free Events</a>
    </div>
  </div>
</div>
