<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3">About Angular Routing</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda commodi, dolores enim fuga maiores omnis possimus quas rem. Assumenda cumque, delectus eveniet fugit id laboriosam libero molestias quo reprehenderit rerum sequi velit. Aliquid consectetur deserunt dolorem doloremque, earum iusto minima non obcaecati quam qui quibusdam ut vitae! Aliquid consectetur, repudiandae.</p>
      <p class="h5">Version : 1.0.1</p>
      <p class="h5">Author : NAVEEN SAGGAM</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="h4 text-danger">Concepts Covered..</p>
      <ul class="list-group">
        <li class="list-group-item">
            1. Angular Routing with Modules
        </li>
        <li class="list-group-item">
          2. Component Interaction
        </li>
        <li class="list-group-item">
          3. Angular with Data Binding
        </li>
        <li class="list-group-item">
          4. Angular structural & list directives
        </li>
        <li class="list-group-item">
          5. Angular Services & Http
        </li>
        <li class="list-group-item">
          6. Angular with Forms Binding
        </li>
      </ul>
    </div>
  </div>
</div>
