<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 text-danger">Welcome to Customers Module</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque eligendi fugit id ipsum odit perferendis quae quibusdam, quisquam rerum ut voluptate? Distinctio eligendi in ipsum laboriosam odio quibusdam, totam vitae voluptas! Ad amet commodi esse expedita inventore officia quae?</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci blanditiis delectus dolorem eaque esse excepturi facilis fugit iusto laboriosam laudantium necessitatibus nostrum quasi, rem reprehenderit saepe sit unde ut? Dolorem in non provident sint sunt unde vitae. Asperiores aut earum libero officiis possimus quae quasi quis tempora ullam. Obcaecati.</p>
      <a routerLink="/" class="btn btn-danger btn-sm">home</a>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item list-group-item-danger">
          <p class="h5">
            <a routerLink="/customers/list" class="text-dark">
             <i class="fa fa-arrow-alt-circle-right text-danger mx-1"></i> Customer List</a>
          </p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta doloremque expedita hic id inventore iusto quas rem sint, tempore voluptates?</p>
        </li>
      </ul>
    </div>
  </div>
</div>
