<div class="landing-page">
  <div class="wrapper">
    <div class="d-flex flex-column align-items-center justify-content-center h-100">
      <div class="container text-white">
        <div class="row">
          <div class="col mt-4">
            <p class="h3 text-danger">Welcome to Angular Routing</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et non officia repellat saepe temporibus vel voluptate! Commodi cumque delectus dolores doloribus eaque earum, eligendi explicabo ipsum, iste laborum libero maxime natus nostrum obcaecati quibusdam reprehenderit, sit! Distinctio fuga repellendus suscipit.</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi aperiam architecto assumenda consequatur debitis et ex illum ipsum libero magnam, nulla quos repudiandae temporibus voluptates! Alias aliquid, atque deleniti, eius facilis, impedit magni necessitatibus nisi quos sapiente sint sit veritatis voluptate. Accusantium blanditiis, cum facilis labore nemo neque voluptas.</p>
            <a routerLink="/customers" class="btn btn-danger btn-sm">customers</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
