<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3">Welcome to Employee Details Component </p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolore earum facere ipsum molestias neque officia quae quo sint soluta! Amet aperiam dolore eius error eum facere facilis hic id iste itaque laudantium minus, necessitatibus quas quis repudiandae, totam voluptas.</p>
      <a routerLink="/employees" class="btn btn-primary">Employees</a>
    </div>
  </div>
</div>
