<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h2">Welcome to Angular Routing</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dignissimos eaque eligendi est ipsam labore libero, maxime natus neque praesentium quasi repellendus saepe soluta temporibus veritatis? Accusamus dignissimos in nam, necessitatibus pariatur qui voluptatibus! Adipisci cumque illo odit quis velit?</p>
      <button class="btn btn-dark btn-sm">Read More</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item">
          <p class="h4">
            <a routerLink="/employees" class="text-primary">Employee List Component</a>
          </p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa cumque delectus dolore incidunt ipsa laudantium optio quos, sunt voluptas?</p>
        </li>
        <li class="list-group-item">
          <p class="h4">
            <a routerLink="/stocks" class="text-success">Stock List Component</a>
          </p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores culpa cumque delectus dolore incidunt ipsa laudantium optio quos, sunt voluptas?</p>
        </li>
      </ul>
    </div>
  </div>
</div>
