<div class="card" *ngIf="selectedEmployee">
  <div class="card-header bg-danger text-white">
    <div class="p-4">

    </div>
  </div>
  <div class="card-body text-center">
    <img [src]="selectedEmployee.picture.large" alt="" class="img-fluid img-thumbnail rounded-circle w-50 mb-2">
    <ul class="list-group text-left">
      <li class="list-group-item list-group-item-secondary">
        NAME : {{selectedEmployee.name.first}} {{selectedEmployee.name.last}}
      </li>
      <li class="list-group-item">
        {{selectedEmployee.email}}
      </li>
      <li class="list-group-item">
        AGE : {{selectedEmployee.dob.age}} Yrs.
      </li>
      <li class="list-group-item">
        City : {{selectedEmployee.location.city}}
      </li>
      <li class="list-group-item">
        State : {{selectedEmployee.location.state}}
      </li>
      <li class="list-group-item">
        State : {{selectedEmployee.location.country}}
      </li>
      <li class="list-group-item">
        Phone : {{selectedEmployee.phone}}
      </li>

    </ul>
  </div>
</div>
