<div class="c-card">
  <div class="c-card-body">
    <h3 class="c-card-heading">{{messageOne}}</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolor minima pariatur? Accusamus, ad beatae commodi dolor, ea explicabo libero maxime mollitia nihil provident quos rem temporibus? Doloribus, quod, rerum?</p>
    <button class="c-btn-primary">Read More</button>
  </div>
</div>

<div class="c-card">
  <div class="c-card-body">
    <h3 class="c-card-heading">{{messageTwo}}</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolor minima pariatur? Accusamus, ad beatae commodi dolor, ea explicabo libero maxime mollitia nihil provident quos rem temporibus? Doloribus, quod, rerum?</p>
    <button class="c-btn-primary">Read More</button>
  </div>
</div>

<div class="c-card">
  <div class="c-card-body">
    <h3 class="c-card-heading">{{messageThree}}</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolor minima pariatur? Accusamus, ad beatae commodi dolor, ea explicabo libero maxime mollitia nihil provident quos rem temporibus? Doloribus, quod, rerum?</p>
    <button class="c-btn-primary">Read More</button>
  </div>
</div>
