<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3">Welcome to Angular Form Validations</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti distinctio eveniet inventore, molestias nisi praesentium sequi. A corporis enim eveniet explicabo facere impedit iure magni natus, nisi nobis quisquam tempora.</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item">
          <p class="h4">
            <a routerLink="/enroll" class="text-primary">1. Template Driven Form Validation</a>
          </p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet commodi consequuntur culpa cumque ipsum iusto maxime modi molestiae neque nisi, reprehenderit voluptates voluptatibus. Incidunt inventore repudiandae sit? Accusamus, assumenda?</p>
        </li>
        <li class="list-group-item">
          <p class="h4">
            <a routerLink="/register" class="text-secondary">2. Reactive Form Validation</a>
          </p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet commodi consequuntur culpa cumque ipsum iusto maxime modi molestiae neque nisi, reprehenderit voluptates voluptatibus. Incidunt inventore repudiandae sit? Accusamus, assumenda?</p>
        </li>
      </ul>
    </div>
  </div>
</div>
