<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h4>{{cardHeader}}</h4>
        </div>
        <div class="card-body">
          <h4 class="card-title">{{message.toUpperCase()}}</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet beatae, debitis distinctio dolorum ea eaque eligendi molestias necessitatibus neque, perspiciatis porro quia, quis reprehenderit veritatis vero voluptas. Laborum, totam.</p>
          <p>{{displayDate()}}</p>
          <p>{{displayTime()}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-warning text-white">
          <h4>Digital Watch</h4>
        </div>
        <div class="card-body text-center">
          <h3 class="display-3">{{displayCurrentTime()}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
