<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-warning text-white">
          <h3>Change Password</h3>
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <input [type]="inputType" class="form-control">
            <div class="input-group-append">
              <div class="input-group-text">
                <input (change)="updateInput()" type="checkbox" class="mr-2"> Show Password
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
