<div class="landing-page">
  <div class="wrapper">
    <div class="d-flex flex-column text-white text-center justify-content-center align-items-center h-100">
      <h1 class="display-2">
       <i class="fa fa-shopping-cart"></i> BigBasket</h1>
      <p class="lead px-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, eum, praesentium? A aliquid aut, beatae deserunt eos eum fuga illo magni nostrum nulla odit, quisquam reprehenderit sint tempore, tenetur ut?</p>
    </div>
  </div>
</div>
