<nav class="navbar navbar-dark bg-danger navbar-expand-sm">
  <a href="/" class="navbar-brand">Angular Forms Bindings</a>
</nav>

<!-- change user 2-way manual -->
<!--<app-change-username></app-change-username>-->

<!-- change user 2-way auto -->
<!--<app-change-user-auto></app-change-user-auto>-->

<!-- Change Password -->
<!--<app-change-password></app-change-password>-->

<!-- SMS APP -->
<!--<app-sms-app></app-sms-app>-->

<!-- Amount Range -->
<!--<app-amount-range></app-amount-range>-->

<!-- Theme Selector -->
<!--<app-theme-selector></app-theme-selector>-->

<!-- Registration Form -->
<app-register></app-register>
