<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3">Welcome to Employee List Component </p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores cupiditate dolorum expedita, modi quidem reiciendis sint. Accusamus ad aperiam asperiores commodi delectus ea earum eligendi harum hic nisi perferendis quas quod repellendus repudiandae, rerum sunt totam ullam unde voluptate?</p>
      <a routerLink="/employees" class="btn btn-primary">Employees</a>
    </div>
  </div>
</div>
