<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3">About Angular with Modules</p>
      <p class="lead">Version : 1.0.1</p>
      <p class="lead">Author : NAVEEN SAGGAM</p>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem harum maxime molestias nemo quae voluptatum? Facere, hic id ipsa molestiae praesentium sequi! Ad cumque ex natus quibusdam, reprehenderit saepe sit?</p>
      <button class="btn btn-dark btn-sm">Read More</button>
    </div>
  </div>
</div>
