<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header btn-secondary text-white">
          <h3>Stop Watch</h3>
        </div>
        <div class="card-body">
            <h3 class="display-3">
              <span>{{leadingZero(minutes)}}</span> :
              <span>{{leadingZero(seconds)}}</span> :
              <span>{{leadingZero(milliSeconds)}}</span>
            </h3>
        </div>
        <div class="card-footer">
          <button (click)="start()" class="btn btn-success btn-sm">Start</button>
          <button (click)="stop()" class="btn btn-danger btn-sm">stop</button>
          <button (click)="reset()" class="btn btn-warning btn-sm">reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
